.grid-container {
  display: grid;
  grid-template-columns: repeat(30, 1fr); /* 30 columns */
  grid-template-rows: repeat(20, 1fr); /* 20 rows */
  gap: 1px;
}

.grid-item {
  position: relative;
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}

.invisible-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: default;
}
